* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}
ul {
	list-style-type: none;
	margin: 70px 60px 0 0;
	padding: 0;
	overflow: hidden;
}
.list {
	padding: 10px;
	float: right;
	display: inline;
	text-align: center;
}
.main_heading {
	margin: 2% 6% 2% 12%;
	font-size: 30px;
}
/*header part ends her*/
/*middle part starts here*/
.big_box {
	margin: 3% 5% 2% 5%;
	background-color: lightgray;
	width: 90%;
}
.second_heading {
	padding-top: 4%;
	padding-left: 3%;
}
.para_1 {
	padding-top: 2%;
	padding-left: 3%;
}
.button_1 {
	margin-top: 2%;
	margin-left: 3%;
	margin-bottom: 4%;
	padding: 0 1%;
}
.main_div {
	margin: 0 5% 2% 5%;
	width: 90%;
}
.first_div {
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	width: 27%;
	text-align: center;
}
.para_2 {
	color: lightgray;
	background-color: lightgray;
	padding: 15% 2% 15% 2%;
}
.para_3 {
	margin: 4% 0;
}
.third_heading {
	margin-top: 3%;
	font-size: 25px;
}
.tag_1 {
	padding-bottom: 5%;
	color: black;
}
/*middle part ends her*/
/*footer part starts here*/
.footer {
	margin: 5% 5% 0;
	width: 90%;
	display: inline-block;
	background-color: lightgray;
	text-align: center;
}

.label {
    padding-top:1%;
    padding-left:1% ;
    font-size: 1.4em;
    text-size-adjust: auto;
   

}
.input_1 {
	width: 30%;
	padding: 12px 20px;
	margin: 10px 10px;

	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
    text-size-adjust: auto;
}
.button_2 {
    width: 20%;
	background-color: lightskyblue;
	border: none;
	color: white;
	padding: 10px 70px 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
	margin: 4px 2px;
}
.last_div {
    
}
.para_4 {
    float: left;
    padding: 5% 0 5% 5%;
}
.para_5 {
    float: right;
    padding: 5%;
}
